{% extends 'CarServiceAdminBundle::template.html.twig' %}

{% block body -%}
<div class="page-header">
    <h1>Edycja usługi "{{ entity.name }}"</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Usługa</h4>
    </div>
    <div class="panel-body">
        {{ form(edit_form, { 'style': 'horizontal' }) }}
    </div>
</div>    
{% endblock %}
