{% extends 'CarServiceAdminBundle::template.html.twig' %}

{% block body -%}
<div class="page-header">
    <h1>Edycja referencji</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Referencja</h4>
    </div>
    <div class="panel-body">
        {{ form(edit_form, { 'style': 'horizontal' }) }}
    </div>
</div>
{% endblock %}
