{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Testimonial list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Testimonial</th>
                <th>Customername</th>
                <th>Customeremail</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.testimonial }}</td>
                <td>{{ entity.customerName }}</td>
                <td>{{ entity.customerEmail }}</td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('testimonial_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
